/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  background-color: rgba(217, 240, 231, 0.534);
  font-family: "Poppins", sans-serif;
}
.tituloshopesaude {text-align: center;
  margin: 25px 10px 40px 10px;
  font-size: 26px;
  font-weight: 700;
  color: #36afe7;
background-color: aliceblue;
background-size: cover;
transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(30, 121, 224, 0.397);}

/* CONTAINER DOS PRODUTOS */
section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

/* CARD DO PRODUTO */
.produto {
  width: 260px;
  display: flex;
  flex-direction: column; /* IMAGEM -> TEXTO */
  align-items: center;
  gap: 12px;
}

/* IMAGENS */
.jaqueta,
.segundo,
.biotina,
.vitaminae,
.vitaminac,
.b12,
.ginsen,
.emagrece,
.creatinadark,
.praiabranco,
.costabranco,
.brancocorrente,
.conjuntoshort,
.vestidodourado
 { transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(22, 5, 255, 0.3);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: block;
   
}

.jaqueta  { background-image: url('/img/omega3.png'); }
.segundo  { background-image: url('/img/crambery.png'); }
.biotina  { background-image: url('/img/BIOTINA.png'); }
.vitaminae{background-image:url('/img/vitaminae.png') ;}
.vitaminac {background-image: url('/img/vitaminac.png');}
.b12{background-image: url('/img/b12.png')}
.ginsen{background-image: url(/img/ginsen.png);}
.emagrece{background-image: url(/img/emagrece.png);}
.creatinadark{background-image: url('/img/creatinadark.png');}
.praiabranco{background-image: url('/img/praiabranco.png');}
.costabranco{background-image: url('img/costabranco.png');}
.brancocorrente{background-image: url('img/brancocorrente.png');}
.conjuntoshort{background-image: url('img/conjuntoshort.png');}
.vestidodourado{background-image: url('img/vestidodourado.png');}
/* TEXTO */
.texto{
  padding: 16px;
  background-color: rgba(89, 243, 136, 0.411);
  border-radius: 10px;
  text-align: center;
  width: 100%;
  color: #0b2b16;
  font-size: 14px;
  line-height: 1.3;
}

/* MOBILE */
@media (max-width: 768px) {

  section {
    flex-direction: column;
    align-items: center;
  }

  .produto {
    width: 90%;
    max-width: 420px;
  }

  .texto{
    height: 260px;
  }

  .texto{
    font-size: 15px;
  }
}

/*outra seçãp*/

.titulo {
  background-color: #ffe6006e;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  line-height: 1.4;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.651);
}

.botoes-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  flex-wrap: wrap;
}

.botao-logo {
  width: 220px;
  height: 90px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(255, 251, 0, 0.445);
  transition: transform .2s ease, box-shadow .2s ease;
}

/* Container do botão */
.whatsapp-float {
  position: fixed;
  width: 65px;
  height: 65px;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

/* Ícone */
.whatsapp-float img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
  transition: transform 0.3s;
}

/* Efeito hover no ícone */
.whatsapp-float:hover img {
  transform: scale(1.1);
}

/* ------- TOOLTIP -------- */
.whatsapp-float::after {
  content: "Fale conosco";
  position: absolute;
  right: 75px; /* distância do ícone */
  bottom: 50%; 
  transform: translateY(50%);
  background: #25D366; /* cor do WhatsApp */
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
}

/* Mostrar ao passar o mouse */
.whatsapp-float:hover::after {
  opacity: 1;
  transform: translateY(50%) translateX(-5px);
}

